.wrapper {
  display: block;
}

.tabs {
  border-bottom: 1px solid #e6e8eb;
  margin: 0 -12px;
}

.tab {
  display: inline-block;
  cursor: pointer;
  margin: 0 12px;
  font: normal 20px/36px Roboto;
  color: #6e7987;
  padding: 10px 0;

  @media only screen and (max-width: 480px) {
    font: normal 16px/36px Roboto;
  }
}

.active {
  composes: tab;
  color: #222;
  pointer-events: none;
  border-bottom: 1px solid #222;
}
