{
  "presets": [
    ["env"]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-react-jsx",
    "transform-object-rest-spread",
    [ "react-css-modules", { "generateScopedName": "[local]___[hash:base64:5]" }]
  ]
}
