.user {
  padding: 25px 0;
  border-bottom: 1px solid #e6e8eb;
  position: relative;
}

.date {
  font: normal 16px Roboto;
  color: #6e7987;
}

.name {
  font: normal 26px/36px Roboto;
  color: #222;
  margin-top: 10px;
}

.address {
  font: normal 16px Roboto;
  color: #6e7987;
  margin-top: 10px;

  & a {
    color: #0080ff;
    cursor: pointer;
    text-decoration: none;
    outline: none;
  }
}

.tokens {
  position: absolute 50% 0 * *;
  transform: translateY(-50%);
  font: normal 26px/36px Roboto;
  color: #222;

  @media only screen and (max-width: 480px) {
    position: static;
    top: 0;
    transform: none;
    margin-top: 20px;
  }
}
