.body {
  background-color: #fff;
}

.title {
  font-size: 26px;
  line-height: 36px;
  color: #222;
}

.text {
  font-size: 16px;
  line-height: 24px;
  color: #6e7987;
  width: 500px;
  margin-top: 15px;
}
