.input {
  font-size: 15px;
  width: 100%;
  outline: none;

  &.withTip {
    padding: 15px 100px 15px 15px;
  }
}

.wrapper {
  position: relative;
}

.tip {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #9da0a4;
  pointer-events: none;
}
