.alert {
  height: 45px;
  width: 100%;
  text-align: center;
  font: normal 16px/45px Roboto;

  & > a {
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    font: normal 16px/45px Roboto;

    @media only screen and (max-width: 480px) {
      font: normal 10px/45px Roboto;
    }
  }

  @media only screen and (max-width: 480px) {
    font: normal 10px/45px Roboto;
  }
}
