.alert {
  height: 45px;
  width: 100%;
  text-align: center;
  font: normal 16px/45px Roboto;
  background-color: #0080ff;
  color: #fff;

  & > a {
    cursor: pointer;
    color: #fff;
    width: 100%;
    height: 100%;
    display: block;
    font: normal 16px/45px Roboto;
  }
}
