.background {
  size: 100%;
  min-height: 100%;
  position: fixed 0 0 0 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow-y: scroll;
}

.popup {
  width: 380px;
  background-color: #fff;
  border-radius: 8px;
  padding: 40px 40px 30px;
  box-sizing: border-box;
  margin: 160px auto;

  @media only screen and (max-width: 480px) {
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 100px 20px 30px;
  }
}

.title {
  font: normal 26px Roboto;
  color: #222;
  margin-bottom: 20px;
  text-align: center;
}

.footer {
  text-align: center;
  margin-top: 30px;
}

.close {
  font: normal 17px Roboto;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: #444;
  transition: 0.1s linear all;

  & > img {
    width: 14px;
    height: 14px;
    margin-right: 7px;
  }
}
