.field {
  margin: 20px 0;
}

.description {
  font: normal 14px Roboto;
  margin-bottom: 30px;
  text-align: center;
  color: #f5f8fa;
}

.checkbox {
  margin: 30px 0;
}

.footer {
  margin-left: 55px;
  position: fixed;
  bottom: 50px;
  text-align: center;
  font: normal 14px Roboto;
}
