.title {
  font: 300 26px Roboto;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.error {
  font: normal 15px Roboto;
  text-align: center;
  color: #ff001f;
  margin-bottom: 30px;
}

.field {
  margin: 15px 0;
}

.description {
  font: normal 16px/24px Roboto;
  margin-bottom: 30px;
  text-align: center;
  color: #6e7987;
}

.checkbox {
  margin: 30px 0;
}

.footer {
  margin-top: 30px;
  text-align: center;
  font: normal 15px Roboto;
}
