.title {
  font: normal 26px/36px Roboto;
  color: #222;
}

.text {
  font: normal 16px/24px Roboto;
  color: #6e7987;
  width: 500px;
  margin-top: 15px;
}

.spinner {
  width: 200px;
  position: absolute;
  z-index: -1;
}
