.title {
  font: 300 26px Roboto;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.description {
  font: normal 16px/24px Roboto;
  margin-bottom: 12px;
  text-align: center;
  color: #6e7987;
}

.field {
  margin: 15px 0;
}
