.wrapper {
  width: 100%;
  height: 100%;
  clear: fix;
}

.main {
  width: 100%;
  height: 100%;
}

.info {
  width: 250px;
}

.tfa,
.address {
  margin-top: 80px;
  width: 500px;

  @media only screen and (max-width: 480px) {
    width: 100%;
    margin: 30px 0;
  }
}
