.title {
  font: normal 20px Roboto;
  color: #6e7987;
  margin-bottom: 25px;
}

.subtitle {
  font: normal 16px Roboto;
  color: #6e7987;
  margin-bottom: 25px;
}

.button {
  width: 250px;
}

.main {
  width: 500px;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}
