.topbar {
  position: relative;
  display: block;
  padding: 40px 0 30px;
  border-bottom: 1px solid #e6e8eb;

  @media only screen and (max-width: 480px) {
    padding: 20px 0;
  }
}

.title {
  font: normal 26px Roboto;
  color: #444;
  width: 100%;

  @media only screen and (max-width: 480px) {
    width: calc(100% - 24px);
    display: inline-block;
  }
}

.faq {
  position: absolute;
  bottom: 30px;
  right: 0;

  & img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
  }

  & a {
    display: inline-block;
    vertical-align: middle;
    font: normal 18px Roboto;
    color: #6e7987;
  }

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.button {
  display: none;

  @media only screen and (max-width: 480px) {
    display: inline-block;
  }

  & button {
    @media only screen and (max-width: 480px) {
      padding: 0;
      height: 30px;
      width: 24px;
    }
  }
}
