.topbar {
  height: 50px;
  position: relative;
  display: block;
  background-color: #394b59;
  box-shadow: 0 2px 6px 0 rgba(16, 22, 26, 0.4), 0 1px 1px 0 rgba(16, 22, 26, 0.4), 0 0 0 1px rgba(16, 22, 26, 0.2);

  @media only screen and (max-width: 480px) {
    padding: 20px 0;
  }
}

.title {
  font: normal 26px Roboto;
  color: #444;
  width: 100%;

  @media only screen and (max-width: 480px) {
    width: calc(100% - 24px);
    display: inline-block;
  }
}

.faq {
  position: absolute;
  bottom: 30px;
  right: 0;

  & img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
  }

  & a {
    display: inline-block;
    vertical-align: middle;
    font: normal 18px Roboto;
    color: #6e7987;
  }

  @media only screen and (max-width: 480px) {
    display: none;
  }
}

.button {
  display: none;

  @media only screen and (max-width: 480px) {
    display: inline-block;
  }

  & button {
    @media only screen and (max-width: 480px) {
      padding: 0;
      height: 30px;
      width: 24px;
    }
  }
}
