.body {
  margin-top: 30px;
}

.description {
  font: normal 16px/24px Roboto;
  margin-bottom: 12px;
  text-align: center;
  color: #6e7987;
}

.field {
  margin: 15px 0;
}

.qr {
  width: 250px;
  margin: 0 auto 28px;

  & > img {
    width: 100%;
  }
}

.error {
  font: normal 15px Roboto;
  text-align: center;
  color: #ff001f;
  margin-bottom: 30px;
}
