.form {
  width: 590px;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.title {
  font-size: 40px;
}

.field {
  float: left;
  width: 100%;
  max-width: 340px;
  margin-right: 20px;
  position: relative;

  @media only screen and (max-width: 768px) {
    float: none;
  }
}

.gas {
  clear: both;
  font-size: 14px;

  & span {
    display: block;
    line-height: 1.5;
  }
}

.allIn {
  margin: 15px 0;
  text-align: center;
}

.tip {
  margin: 20px 0 60px;
  font-size: 14px;

  & p {
    margin-top: 20px;
  }
}

.button {
  float: left;
  width: 127px;

  @media only screen and (max-width: 768px) {
    float: none;
  }
}

.tipSection {
  position: absolute;
  margin-top: 40px;

  @media only screen and (max-width: 768px) {
    position: relative;
  }
}

.alertsSection {
  margin-top: 40px;
}

.alert {
  margin-bottom: 20px;
}

.tipIcon {
  margin: 2px 10px 0 0;
}

.total {
  margin-top: 20px;

  &.hidden {
    visibility: hidden;
  }
}
