.form {
  width: 590px;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.title {
  font: normal 40px Roboto;
  color: #f5f8fa;
}

.field {
  float: left;
  width: 343px;
  position: relative;
}

.gas {
  font: normal 16px Roboto;
  color: #222;
  text-align: center;
  margin: 15px 0;

  & > span {
    margin: 0 10px;
  }
}

.allIn {
  margin: 15px 0;
  text-align: center;
}

.tip {
  margin: 20px 0 60px;
  font: normal 14px Roboto;
  color: #f5f8fa;

  & p {
    margin-top: 20px;
  }
}

.button {
  float: left;
  width: 127px;
}
