.form {
  width: 500px;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.title {
  font: normal 20px/36px Roboto;
  color: #6e7987;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e8eb;
  margin-bottom: 40px;
}

.field {
  margin: 20px 0;
  position: relative;
}

.gas {
  font: normal 16px Roboto;
  color: #222;
  text-align: center;
  margin: 15px 0;

  & > span {
    margin: 0 10px;
  }
}

.allIn {
  margin: 15px 0;
  text-align: center;
}

.tip {
  margin-top: 40px;
  font: normal 16px/24px Roboto;
  color: #6e7987;

  & p {
    margin-top: 20px;
  }
}
