.alert {
  size: 41px;
  margin: 0 auto 35px;
  background-image: svg-load('../../../assets/images/icons/alertPopupIcon.svg');
  background-repeat: no-repeat;
}

.title {
  font: normal 26px/38px Roboto;
  color: #222;
  text-align: center;
}

.text {
  font: normal 16px Roboto;
  color: #6e7987;
  text-align: center;
  margin: 5px 0 30px;
}

.button {
  margin-top: 30px;
}
