.title {
  font: 300 26px Roboto;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}

.error {
  font: normal 15px Roboto;
  text-align: center;
  color: #ff001f;
  margin-bottom: 30px;
}

.field {
  margin: 15px 0;
}
