.balance {
  width: 350px;
  margin-bottom: 20px;
}

.button {
  width: 120px;
}

.val {
  font: normal 27px Roboto;
  color: #f5f8fa;
}

.label {
  font: normal 14px Roboto;
  color: #bfccd6;
  margin: 7px 0 25px;
}
