.wrapper {
  width: 100%;
  height: 100%;
  clear: fix;
}

.main {
  width: calc(100% - 250px);
  height: 100%;
  float: left;
  vertical-align: top;

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 290px);
    margin-right: 40px;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.col {
  width: 250px;
  height: 100%;
  float: left;
  vertical-align: top;

  @media only screen and (max-width: 480px) {
    width: 100%;
  }
}

.address {
  width: 500px;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}

.users {
  width: 500px;
  margin-top: 50px;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }

  @media only screen and (max-width: 480px) {
    margin: 30px 0;
  }
}
