@use postcss-short;

.button {
  margin-bottom: 15px;
}

.block {
  padding: 15px 0;
  border-bottom: 1px solid #e6e8eb;
}

.val {
  font: normal 32px Roboto;
  color: #222;
}

.label {
  font: normal 16px Roboto;
  color: #6e7987;
  margin-top: 5px;
}

.currencybutton {
  font: normal 16px Roboto;
  color: #0080ff;
  background-color: transparent;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  display: inline;
  border: none;
}

.activeCurrencyButton {
  composes: currencybutton;
  pointer-events: none;
  cursor: default;
  font: bold 16px Roboto;
  color: #6e7987;
}
