html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #333;
}

#app {
  width: 100%;
  height: 100%;
}

button {
  outline: none;
  cursor: pointer;
}
