.checkbox {
  font-size: 15px;

  & a {
    font-size: 15px;
    color: #0080ff;
    text-decoration: none;
    pointer-events: painted;

    @media only screen and (max-width: 480px) {
      font-size: 12px;
    }
  }

  @media only screen and (max-width: 480px) {
    font-size: 12px;
  }
}

.box {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  size: 20px;
  background-image: svg-load('./images/box.svg');
  margin: 0 15px;

  &::after {
    content: '';
    display: block;
    size: 20px;
    background-image: svg-load('./images/arr.svg');
    opacity: 0;
    transition: 0.1s linear all;
  }

  @media only screen and (max-width: 480px) {
    margin: 0 10px 0 0;
  }
}

.input {
  position: absolute;
  left: -9999px;
}

.input:checked + .box {
  &::after {
    opacity: 1;
  }
}
