.sidebar {
  background-color: #f8f9fa;
  position: relative;
  height: 100%;
}

.close {
  display: none;

  @media only screen and (max-width: 480px) {
    display: block;
    position: absolute -17px -26px * *;
    z-index: 1;
  }
}

.logo {
  margin-bottom: 76px;

  & > img {
    size: 35px;
  }
}

.link {
  display: block;
  margin: 20px 0;
  font: normal 16px Roboto;
  color: #6e7987;
  text-decoration: none;
  cursor: pointer;
  transition: 0.1s linear all;

  &:hover {
    color: #0080ff;
  }

  &.active {
    color: #0080ff;
    font: bold 16px Roboto;

    &:hover {
      cursor: default;
      pointer-events: none;
    }
  }
}

.activeLink {
  composes: link;
  color: #0080ff;
  font: bold 16px Roboto;

  &:hover {
    cursor: default;
    pointer-events: none;
  }
}

.disabled {
  composes: link;
  pointer-events: none;
  color: #ababab;
}

.socials {
  position: absolute * * 20px *;
  margin: 0 -10px;

  & > a {
    margin: 0 10px;

    & > img {
      size: 24px;
    }
  }
}
