.wrapper {
  width: 100%;
  height: 100%;
  clear: fix;
}

.main {
  width: calc(100% - 250px);
  height: 100%;
  float: left;
  vertical-align: top;

  @media only screen and (max-width: 1200px) {
    width: calc(100% - 290px);
    margin-right: 40px;
  }

  @media only screen and (max-width: 480px) {
    width: 100%;
    float: none;
  }
}

.col {
  width: 250px;
  height: 100%;
  float: left;
  vertical-align: top;

  @media only screen and (max-width: 480px) {
    width: 100%;
    float: none;
  }
}

.buyTokensForm {
  width: 100%;

  @media only screen and (max-width: 1200px) {
    width: 100%;
  }
}
