.password {
  margin: 40px 0;
  text-align: center;
}

.field {
  margin: 20px 0;
}

.footer {
  margin-left: 38px;
  position: fixed;
  bottom: 50px;
  text-align: center;
  font: normal 14px Roboto;
}
